{
 "web": {
  "token_uri": "https://accounts.google.com/o/oauth2/token", 
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", 
  "auth_uri": "https://accounts.google.com/o/oauth2/auth", 
  "client_email": "<FILL THIS OUT>@developer.gserviceaccount.com", 
  "client_id": "<FILL THIS OUT>.apps.googleusercontent.com", 
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/<FILL THIS OUT>@developer.gserviceaccount.com"
 }
}
