{% extends "visualize/base.html" %}


{% block extra-header %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min.js" type="text/javascript"></script>
<script src="http://d3js.org/topojson.v0.min.js" type="text/javascript"></script>
<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>

<style>

.stroke {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .2;
}

.land {
  fill: #aaa;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .2px;
}

.dot {
  fill: steelblue;
  fill-opacity: 0.5;
}

#language-selector {
  width: 100%;
  text-align: center;
}

#tooltip {
  background-color: rgba(242, 242, 242, 0.6);
  border: 1px solid #666;
  padding: 5px;
}

#tooltip p {
  clear: both;
  margin: 4px 0;
}

#tooltip label {
  display: block;
  float: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
}

</style>

<script>
$(document).ready(function() {
  // Always in proportion of 960x500
  var width = 960,
      height = 500;

  var projection = d3.geo.wagner6()
      .scale(150)
      .precision(.1);

  var path = d3.geo.path()
      .projection(projection);

  var graticule = d3.geo.graticule();

  var svg = d3.select("#language-visualization").append("svg")
      .attr("width", width)
      .attr("height", height);

  svg.append("defs").append("path")
      .datum({type: "Sphere"})
      .attr("id", "sphere")
      .attr("d", path);

  svg.append("use")
      .attr("class", "stroke")
      .attr("xlink:href", "#sphere");

  svg.append("use")
      .attr("class", "fill")
      .attr("xlink:href", "#sphere");

  svg.append("path")
      .datum(graticule)
      .attr("class", "graticule")
      .attr("d", path);

  d3.json("/static/visualize/world-110m.json", function(error, world) {
    svg.insert("path", ".graticule")
        .datum(topojson.object(world, world.objects.land))
        .attr("class", "land")
        .attr("d", path);

    svg.insert("path", ".graticule")
        .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
        .attr("class", "boundary")
        .attr("d", path);
  });

  d3.select(self.frameElement).style("height", height + "px");

  /*d3.json("/language/Python.json", function(error, data) {
    var dots = svg.selectAll("dots").data(data).selectAll("g").data(data)
    dots.append("svg:circle").attr("class", "dot");
  });*/
});

</script>
{% endblock extra-header %}

{% block main %}
<h1 class="text-center">Where does open source come from?</h1>

<div id="language-visualization">
</div>

<div id="language-selector" class="btn-group">
  <div class="input-prepend">
    <button class="btn">JavaScript</button>
    <button class="btn">Ruby</button>
    <button class="btn">Java</button>
    <button class="btn">Python</button>
    <button class="btn">PHP</button>
    <button class="btn">C</button>
    <button class="btn">C++</button>
    <button class="btn">Objective-C</button>
    <button class="btn">Shell</button>
    <button class="btn">C#</button>
  </div>
  <div class="input-append">
    <input type="text" class="span2" placeholder="repository search">
    <button type="submit" class="btn"><i class="icon-search"></i></button>
  </div>
</div>

{% endblock main %}